/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/
/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Tabs
	#Forms
	#Misc */
/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
/* line 28, ../sass/base.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 35, ../sass/base.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 37, ../sass/base.scss */
body {
  line-height: 1;
}

/* line 39, ../sass/base.scss */
ol, ul {
  list-style: none;
}

/* line 41, ../sass/base.scss */
blockquote, q {
  quotes: none;
}

/* line 44, ../sass/base.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 47, ../sass/base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* #Basic Styles
================================================== */
/* line 54, ../sass/base.scss */
body {
  background: #fff;
  font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

/* #Typography
================================================== */
/* line 65, ../sass/base.scss */
h1, h2, h3, h4, h5, h6 {
  color: #181818;
  font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

/* line 69, ../sass/base.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

/* line 70, ../sass/base.scss */
h1 {
  font-size: 46px;
  line-height: 50px;
  margin-bottom: 14px;
}

/* line 71, ../sass/base.scss */
h2 {
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 10px;
}

/* line 72, ../sass/base.scss */
h3 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 8px;
}

/* line 73, ../sass/base.scss */
h4 {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 4px;
}

/* line 74, ../sass/base.scss */
h5 {
  font-size: 17px;
  line-height: 24px;
}

/* line 75, ../sass/base.scss */
h6 {
  font-size: 14px;
  line-height: 21px;
}

/* line 76, ../sass/base.scss */
.subheader {
  color: #777;
}

/* line 78, ../sass/base.scss */
p {
  margin: 0 0 20px 0;
}

/* line 79, ../sass/base.scss */
p img {
  margin: 0;
}

/* line 80, ../sass/base.scss */
p.lead {
  font-size: 21px;
  line-height: 27px;
  color: #777;
}

/* line 82, ../sass/base.scss */
em {
  font-style: italic;
}

/* line 83, ../sass/base.scss */
strong {
  font-weight: bold;
  color: #333;
}

/* line 84, ../sass/base.scss */
small {
  font-size: 80%;
}

/*	Blockquotes  */
/* line 87, ../sass/base.scss */
blockquote, blockquote p {
  font-size: 17px;
  line-height: 24px;
  color: #777;
  font-style: italic;
}

/* line 88, ../sass/base.scss */
blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #ddd;
}

/* line 89, ../sass/base.scss */
blockquote cite {
  display: block;
  font-size: 12px;
  color: #555;
}

/* line 90, ../sass/base.scss */
blockquote cite:before {
  content: "\2014 \0020";
}

/* line 91, ../sass/base.scss */
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
  color: #555;
}

/* line 93, ../sass/base.scss */
hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

/* #Links
================================================== */
/* line 98, ../sass/base.scss */
a, a:visited {
  color: #333;
  text-decoration: underline;
  outline: 0;
}

/* line 99, ../sass/base.scss */
a:hover, a:focus {
  color: #000;
}

/* line 100, ../sass/base.scss */
p a, p a:visited {
  line-height: inherit;
}

/* #Lists
================================================== */
/* line 105, ../sass/base.scss */
ul, ol {
  margin-bottom: 20px;
}

/* line 106, ../sass/base.scss */
ul {
  list-style: none outside;
}

/* line 107, ../sass/base.scss */
ol {
  list-style: decimal;
}

/* line 108, ../sass/base.scss */
ol, ul.square, ul.circle, ul.disc {
  margin-left: 30px;
}

/* line 109, ../sass/base.scss */
ul.square {
  list-style: square outside;
}

/* line 110, ../sass/base.scss */
ul.circle {
  list-style: circle outside;
}

/* line 111, ../sass/base.scss */
ul.disc {
  list-style: disc outside;
}

/* line 113, ../sass/base.scss */
ul ul, ul ol,
ol ol, ol ul {
  margin: 4px 0 5px 30px;
  font-size: 90%;
}

/* line 115, ../sass/base.scss */
ul ul li, ul ol li,
ol ol li, ol ul li {
  margin-bottom: 6px;
}

/* line 116, ../sass/base.scss */
li {
  line-height: 18px;
  margin-bottom: 12px;
}

/* line 117, ../sass/base.scss */
ul.large li {
  line-height: 21px;
}

/* line 118, ../sass/base.scss */
li p {
  line-height: 21px;
}

/* line 123, ../sass/base.scss */
img.scale-with-grid {
  max-width: 100%;
  height: auto;
}

/* line 14, /Users/nate/Sites/skeleton/sass/partials/_buttons.scss */
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  background: #eee;
  /* Old browsers */
  border: 1px solid #aaa;
  border-color: #ccc #ccc #aaa #ccc;
  color: #444;
  cursor: pointer;
  font: bold 11px/normal "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  padding: 8px 10px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2))), #eeeeee;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2)), #eeeeee;
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2)), #eeeeee;
  background: -o-linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2)), #eeeeee;
  background: -ms-linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2)), #eeeeee;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2)), #eeeeee;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 7, /Users/nate/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  *display: inline;
}
/* line 31, /Users/nate/Sites/skeleton/sass/partials/_buttons.scss */
.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
  color: #222;
  background: #ddd;
  /* Old browsers */
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.3))), #222222;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3)), #222222;
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3)), #222222;
  background: -o-linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3)), #222222;
  background: -ms-linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3)), #222222;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3)), #222222;
  border: 1px solid #888;
  border-color: #aaa #888 #888 #aaa;
}
/* line 39, /Users/nate/Sites/skeleton/sass/partials/_buttons.scss */
.button:active, button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active {
  background: #ccc;
  /* Old browsers */
  border: 1px solid #666;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.35)), color-stop(100%, rgba(10, 10, 10, 0.4))), #cccccc;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.35), rgba(10, 10, 10, 0.4)), #cccccc;
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.35), rgba(10, 10, 10, 0.4)), #cccccc;
  background: -o-linear-gradient(rgba(255, 255, 255, 0.35), rgba(10, 10, 10, 0.4)), #cccccc;
  background: -ms-linear-gradient(rgba(255, 255, 255, 0.35), rgba(10, 10, 10, 0.4)), #cccccc;
  background: linear-gradient(rgba(255, 255, 255, 0.35), rgba(10, 10, 10, 0.4)), #cccccc;
}
/* line 45, /Users/nate/Sites/skeleton/sass/partials/_buttons.scss */
.button.full-width, button.full-width, input[type="submit"].full-width, input[type="reset"].full-width, input[type="button"].full-width {
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
  width: 100%;
}

/* Fix for odd Mozilla border & padding issues */
/* line 55, /Users/nate/Sites/skeleton/sass/partials/_buttons.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 4, /Users/nate/Sites/skeleton/sass/partials/_tabs.scss */
ul.tabs {
  display: block;
  margin: 0 0 20px 0;
  padding: 0;
  border-bottom: solid 1px #ddd;
}

/* line 9, /Users/nate/Sites/skeleton/sass/partials/_tabs.scss */
ul.tabs li {
  display: block;
  width: auto;
  height: 30px;
  padding: 0;
  float: left;
  margin-bottom: 0;
}

/* line 16, /Users/nate/Sites/skeleton/sass/partials/_tabs.scss */
ul.tabs li a {
  display: block;
  text-decoration: none;
  width: auto;
  height: 29px;
  padding: 0px 20px;
  line-height: 30px;
  border: solid 1px #ddd;
  border-width: 1px 1px 0 0;
  margin: 0;
  background: #f5f5f5;
  font-size: 13px;
}

/* line 28, /Users/nate/Sites/skeleton/sass/partials/_tabs.scss */
ul.tabs li a.active {
  background: #fff;
  height: 30px;
  position: relative;
  top: -4px;
  padding-top: 4px;
  border-left-width: 1px;
  margin: 0 0 0 -1px;
  color: #111;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}

/* line 43, /Users/nate/Sites/skeleton/sass/partials/_tabs.scss */
ul.tabs li:first-child a.active {
  margin-left: 0;
}

/* line 45, /Users/nate/Sites/skeleton/sass/partials/_tabs.scss */
ul.tabs li:first-child a {
  border-width: 1px 1px 0 1px;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
}

/* line 50, /Users/nate/Sites/skeleton/sass/partials/_tabs.scss */
ul.tabs li:last-child a {
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}

/* line 55, /Users/nate/Sites/skeleton/sass/partials/_tabs.scss */
ul.tabs-content {
  margin: 0;
  display: block;
}

/* line 56, /Users/nate/Sites/skeleton/sass/partials/_tabs.scss */
ul.tabs-content > li {
  display: none;
}

/* line 57, /Users/nate/Sites/skeleton/sass/partials/_tabs.scss */
ul.tabs-content > li.active {
  display: block;
}

/* Clearfixing tabs for beautiful stacking */
/* line 61, /Users/nate/Sites/skeleton/sass/partials/_tabs.scss */
ul.tabs:before,
ul.tabs:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 68, /Users/nate/Sites/skeleton/sass/partials/_tabs.scss */
ul.tabs:after {
  clear: both;
}

/* line 70, /Users/nate/Sites/skeleton/sass/partials/_tabs.scss */
ul.tabs {
  zoom: 1;
}

/* line 4, /Users/nate/Sites/skeleton/sass/partials/_forms.scss */
form, fieldset {
  margin-bottom: 20px;
}

/* line 8, /Users/nate/Sites/skeleton/sass/partials/_forms.scss */
input[type="number"] {
  -webkit-apperance: none;
}

/* line 12, /Users/nate/Sites/skeleton/sass/partials/_forms.scss */
input[type="text"], input[type="password"], input[type="email"], input[type="number"], textarea, select {
  background: #fff;
  border: 1px solid #ccc;
  color: #777;
  display: block;
  font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 20px;
  max-width: 100%;
  outline: none;
  padding: 6px 4px;
  width: 210px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}
/* line 27, /Users/nate/Sites/skeleton/sass/partials/_forms.scss */
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, textarea:focus, select:focus {
  border: 1px solid #aaa;
  color: #444;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

/* line 35, /Users/nate/Sites/skeleton/sass/partials/_forms.scss */
select {
  padding: 0;
  width: 220px;
}

/* line 41, /Users/nate/Sites/skeleton/sass/partials/_forms.scss */
textarea {
  min-height: 60px;
}

/* line 44, /Users/nate/Sites/skeleton/sass/partials/_forms.scss */
label, legend {
  display: block;
  font-weight: bold;
  font-size: 13px;
}

/* line 50, /Users/nate/Sites/skeleton/sass/partials/_forms.scss */
input[type="checkbox"] {
  display: inline;
}

/* line 54, /Users/nate/Sites/skeleton/sass/partials/_forms.scss */
label span, legend span {
  font-weight: normal;
  font-size: 13px;
  color: #444;
}

/* line 4, /Users/nate/Sites/skeleton/sass/partials/_misc.scss */
.remove-bottom {
  margin-bottom: 0 !important;
}

/* line 5, /Users/nate/Sites/skeleton/sass/partials/_misc.scss */
.half-bottom {
  margin-bottom: 10px !important;
}

/* line 6, /Users/nate/Sites/skeleton/sass/partials/_misc.scss */
.add-bottom {
  margin-bottom: 20px !important;
}
